label {
	color: white;
	text-transform: uppercase;
}
button {
	text-transform: uppercase;
}
.hiddenTable {
	visibility: hidden;
}
.indexClass {
	font-weight: bolder;
	text-align: center;
}
.xyz {
	font-size: larger;
}
